<div class="row">
  <div class="">
    <h3>Waiters Roster</h3>
    <small>Page showing people that are going to be available on that particular day.</small>
  </div>
</div>

<table class="col 12">
  {{#each day_name}}
  <tr class="col 12">
    <th class="col 2" value="{{days}}">{{days}}</th>
  </tr>
  {{/each}}

<tr>
  <td class="col 2">Person1</td>
  <td class="col 2">Person2</td>
  <td class="col 2">Person1</td>
</tr>

  </table>





<a href="/"><i class="fas fa-home"></i></a>
