

<body class="deep-orange accent-2">
  
  <div class="row yellow lighten-2">

  <h3 class="center">Waiters Roster</h3>
  <p class="col 4">Page showing people that are going to be available on that particular day.</p>

  <div class="col 8">
    {{!-- <a href="/reset" class="btn waves-effect darken-2  right " type="" name="reset">Reset</a> --}}
    <a href="/"><i class="fas fa-home small roster  btn home  right top"></i></a>
   
    <a class="waves-effect waves-light btn" href="/reset"><i class="far fa-trash-alt"></i></a>

  </div>


</div>

<div class="row yellow lighten-2"> 
     <h6 style="font-size:bold;">Color Legend</h6>
     <div class="col 12 center" style="background-color:green; width:10%; height:5%;">Full</div> <br> <br>
    <div class="col 12 center" style="background-color:red; width:10%; height:5%;"> Danger </div>
</div>

  
<div class="row yellow lighten-2">
 {{#each shifts}}
  <div style="
    display:table-cell;
    border:1px solid #ccc;
    width:100%;
    max-width:90%;
    padding: 1rem;
    margin-right: 0.5rem;" 
    class="row {{colour}}">
    
    <h5>{{dayName}}</h5>
    {{#each waiters}}
    <p>{{this}}</p>
    {{/each}}
  </div>
  {{/each}}
  
</div>

          <div class="footer-copyright grey">
            <div class="container center" style="font-size:17px; font-weight:bolder;">
            © 2018 Mzwa Louw
            </div>
          </div>


</div>



</body>