<table class="col 12">
  <tr class="col 12">
    <th class="col 2">Sunday</th>
    <th class="col 2">Monday</th>
    <th class="col 2">Tuesday</th>
    <th class="col 2">Wednesday</th>
    <th class="col 2">Thursday</th>
    <th class="col 2">Friday</th>
    <th class="col 2">Saturday</th>
  </tr>

<tr>
  <td class="col 2">Person1</td>
  <td class="col 2">Person2</td>
</tr>

  </table>
