
<body>
  <div class="row">
    <div class="">
      <h3>Waiter App</h3>
    <small> <h6 class="capitalize">{{user}}'s</h6> shift of the day that he'll be available on.</small>
    </div>
  </div>


  <div class="row">

    {{#each shifts}}
      <p class="col 2">
        <label>
          <input type="checkbox" name="checkbox"{{checked}} value="{{days}}"/>
          <span>{{days}}</span>
      </label>
      </p>
    {{/each}}
</div>

    <div class="row">
      <a href="/"><i class="fas fa-arrow-circle-left small col 6"></i></a>
      <a href="/days" class="col 6"><i class="fas fa-users small "></i></a>

    </div>
</body>
