.capitalize{
  font-size: 25px;
  font-weight: bold;
}
.roster{
  padding-top: 20%;
}
.green{
  background-color: green;
}
.white{
  background: white;
}
.blue{
  background: blue;
}
.red{
  background: red;
}

.top{
  padding-top: -15%;
  margin-top: -15%;
  margin-right: -20%;
}